---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import FeaturedProperties from "../components/FeaturedProperties.astro"; // <--- Importar
import InsuranceSection from "../components/InsuranceSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="CORREDORA MACG | Propiedades y Seguros">
  <Navbar />
  <main>
    <Hero />
    <FeaturedProperties />
    <InsuranceSection />
  </main>
  <Footer />
</Layout>
